html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}



body {
    min-height: 100vh;
    margin : 0; /* Important! */ 
    font-family: sans-serif;
    
}


.highlight {
    transition: all 0.2s;
    border-bottom: 2px solid white;
    position: absolute;
    top: 0;
    background: rgb(211, 49, 233);
    left: 0;
    z-index: -1;
    border-radius: 20px;
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }