html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after { 
    box-sizing: inherit; 
  }

  div {
    width: 100%;
    padding: 100px;
  }

  .one {
    background: bisque;
  }

  .two {
    background: maroon;
  }

  .three {
    background: chocolate;
  }
  